<article>
	<header>
		<h1><%= @blog.title %> </h1>
	</header>
	<%= @blog.content%>
	<div>
	<img src="http://placehold.it/100x100">
	</div>
	<br/>
	<button type="button">Like</button> <button type="button">Share</button> 
	<br/> <br/>
	<textarea name="comments" rows="4" cols="">Comments</textarea>
	<div>
		<input type ="submit" name="comments_submit" id="comments_submit">
	</div>

</article>
			