<article>
	<header>
		<h1><%= @blog.title %> </h1> <a class="btn pull-right" href="<%=@blog.id%>/update">Edit</a>
	</header>
	<%= @blog.content%>
	<br/>
	<br/>
	<a class = "btn" href= "">Like</a> <a class = "btn" href="">Share</a> 
	<br/> <br/>
	<textarea name="comments" rows="4" cols="">Comments</textarea>
	<div>
		<input class = "btn" type ="submit" name="comments_submit" id="comments_submit">
	</div>

</article>
			